body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #525354;
  color: rgb(202, 198, 198);
}

#projects {
  background-color: #525354;
  color: rgb(202, 198, 198);
}
#footer {
  color: rgb(221, 221, 221);
}

.card {
  color: #000000;
}

.progress-bar {
  background-color: #9c9a9a;
}
